*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*INDEX*/

.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen-logo{
    width: 150px;
    height: 100px;
    margin-left: 80px;   
}


ul{
    list-style-type: none;
}

ul li{
    padding: 10px;
    float: left;
    margin-left: auto;

}

nav{
    float: right;
    margin-top: 30px;
    margin-right: 80px;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 16px;
}

.seccion-1{
    width: 100%;
    height:700px;
    background-image: url(../img/construccion.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.titulo-1{
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 20px;
    position: relative;
    top: 250px;
}

.texto-1{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 16px;
    position: relative;
    top: 255px;
}

.seccion-2{
    font-size: 36px;
    margin-top: 48px;
    margin-bottom: 24px;
    font-style: normal;
    text-align: center;
    
}

.tarjeta-1{
    border: solid 2px white;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: 350px;
    height: auto;
    display: inline-block;
    text-align: center;
}
 
.titulo-2{
    font-size: 24px;
}

.texto-tarjeta{
    color: rgb(124, 124, 124);
    font-size: 18px;
    margin-top: 8px;
}

.seccion-3{
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.sobre-nosotros{
    text-align: right;
    font-size: 36px;
    margin-right: 40px;
    margin-bottom: 16px;
}

.texto-2{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.seccion-4{
    font-size: 36px;
    margin-bottom: 32px;
    text-align: center;
}

.grilla-1{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 450px);
    margin-left: 80px;
    margin-right: 80px;
}

@media screen and (max-width:780px) {
    .grilla-1{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 16px;
        margin-right: 16px;
        
    }
}

.grilla-img{
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.seccion-5{
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 36px;
    text-align: center;
}

.tarjeta-2{
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 400px;
    height: auto;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.formulario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width: 90%;
    height: 30px;
    align-items: center;  
}

.boton{
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    align-items: center;
}

.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; justify-content: space-around;
    background-color: rgb(211, 211, 211);
}

.imagen2{
    height: 25px;
    margin-top: 15px;
}

.imagen3{
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.copy{
    margin-top: 15px;
    text-align: center;
}

/*------------------- OTRAS SECCIONES (quedaron acá para no perder la información) ------------------..*/

/*SOBRE NOSOTROS*/

.bloque-1{
    display: flex;
    justify-content: space-between;
}
    
.titulo-sobre-nosotros{
    font-size: 36px;
    text-align: left;
    margin-left: 80px;
    margin-top: 100px;
    width: 100%;
}

.texto-sobre-nosotros{
    font-size: 18px;
    margin-left: 80px;
    width: 75%;
    margin-top: 45px;
}

.imagen-equipo{
    width: 50%;
    background-position: right;  
}

.bloque-3{
    background-color: black;
    padding: 10px;
}

.titulo-valores{
    font-size: 36px;
    text-align: right;
    margin-right: 80px;
    margin-top: 48px;
    color: white;
}

.tarjeta-valores{
    color: white;
    border: solid 2px black;
    padding: 10px ; 
    margin: 15px;
    width: 350px;
    height: auto;
    display: inline-block;
}

.titulo-equipo{
    font-size: 36px;
    text-align: center;
    margin-top: 32px;
}

.imagen-persona{
    width: 350px;
}

.tarjeta-equipo{
    border: solid 2px white;
    padding: 10px;
    margin-left: 15px;
    width: 400px;
    height: auto;
    display: inline-block;
    font-size: 18px;
}

/*TRABAJOS REALIZADOS*/

.titulo-trabajos{
    font-size: 36px;
    text-align: center;
    margin-top: 32px;
}

.texto-trabajos{
    font-size: 24px;
    text-align: center;
    margin-top: 12px;
}

.imagen-trabajos{
    width: 350px;      
}

.tarjeta-trabajos{
    border: solid 2px white;
    padding: 10px;
    margin: 40px;
    width: 350px;
    height: auto;
    display: inline-block;
    font-size: 18px;
}

/*BLOG*/

.titulo-blog{
    font-size: 36px;
    text-align: left;
    margin-left: 80px;
    margin-top: 15px;
}

.texto-blog{
    font-size: 24px;
    text-align: left;
    margin-left: 80px;
    margin-top: 8px;
}

.noticia{
    display: inline-block;
}

.bloque-noticia{
    
    width: 60%;
    display: inline-block;
}

.titulo-noticia{
    font-size: 24px;
    text-align: left;
    margin-right: 80px;
    margin-left: 24px;
}


.texto-noticia{
    font-size: 18px;
    text-align: left;
    margin-right: 80px;
    margin-top: 16px;
    margin-left:24px;
}

.imagen-noticia{
    width: 350px;
    margin-left: 80px;
    margin-top: 24px;
}

.linea{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 80px;
    margin-right: 80px;
}

/*CONTACTO*/

.titulo-contacto{
    font-size: 36px;
    text-align: center;
    margin-top: 24px;
}

.texto-contacto{
    font-size: 32px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
}